@using SchoolTemplate.Database;
@model List<Product>
@{

}

<!DOCTYPE html>
<html>
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

            li a {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }

        .active {
            background-color: #04789d;
        }
    </style>
</head>
<body>

    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="films">Films</a></li>
        <li><a href="#">Shrek </a></li>
        <li><a href="#">Shrek 2 </a></li>
        <li><a href="#">Shrek 3</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="about" class="active">About</a></li>
    </ul>

</body>

<img class="d-block w-100" src="https://images1.persgroep.net/rcs/oVHUWSVAU7rjBty3IKQiZrF7mWU/diocontent/134603163/_crop/0/0/1847/1043/_fitwidth/1240?appId=93a17a8fd81db0de025c8abd1cca1279&quality=0.9">


<h2 style="background-color:#04789d; font-size:30px; text-align:left; vertical-align: middle; padding:15px 30px; text-align: center; "> <strong>Onze hoofdvestiging</strong> </h2>

<style>
    h2 {
        color: white;
        text-align: center;
    }
</style>


<h1>Over ons</h1>

<style>
    h1 {
        text-align: center;
    }

</style>

<h4>Bios.nl is dé hippe Bios van Nederland, uitgedekt met de nieuwste hitfilms en de beste snacks hebben we altijd het beste aan te bieden. Wij doen allen ons best om de ervaring optimaal te maken dus indien je nog vragen hebt kan je hieronder bij onze contact gegevens. </h4>

<address>
    Contact E-mail <a href="110203@st-maartenscollege.nl">Ryan Zondag</a>.<br>
    Kom langs bij: Cor Kieboomplein 501<br>
    Bios.nl<br>
    3077 MK Rotterdamd<br>
    Nederland<br>
    088 515 2050
</address>

<style>
    address {
        text-align: center;
    }
</style>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39382.10909339847!2d4.463233556124014!3d51.90874460386885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x740479df73e4daa7!2sPath%C3%A9%20De%20Kuip!5e0!3m2!1snl!2snl!4v1602841350117!5m2!1snl!2snl" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="center"></iframe>

<style>
    h4 {
        color: #04789d;
        font-size: 15px;
    }
</style>


<footer class="footer">


    <div class="footer-copyright text-center py-3">
        © 2020 Copyright:
        <a href="home"> Bios.nl</a>
    </div>


</footer>

</html>
