@using SchoolTemplate.Database;
@model List<Film>

<!DOCTYPE html>
<html>
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
        }

        li {
            float: left;
        }

            li a {
                display: inline-block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                li a:hover {
                    background-color: #111;
                }

        .active {
            background-color: #04789d;
        }
    </style>
</head>
<body>

    <ul>
        <li><a href="home">Home</a></li>
        <li><a href="films" class="active">Films</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="about">About</a></li>
    </ul>

</body>


<style>
    h4 {
        color: white;
    }
</style>

<style>
    p {
        color: white;
    }
</style>

<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="column-2 px-2 mb-r">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view">
                <img src="https://www.91-cdn.com/metareel-images/content/backdrops-1543236998-iDBZ7JsHbCKCYL3MUBjJctOWnTp.jpg" class="card-img-top" alt="photo">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title white-text">Shrek 1</h4>
                <!--Text-->
                <p class="card-text white-text">
                    Shrek is een Amerikaanse komische computeranimatiefilm, geproduceerd door de firma DreamWorks. De film is gebaseerd op het gelijknamige boek van William Steig. De regie was in handen van Andrew Adamson en Vicky Jenson. De stemmen worden ingesproken door Mike Myers, Eddie Murphy, Cameron Diaz, en John Lithgow.
                </p>

            </div>

        </div>
        <!--/.Card-->
        <h1>
        </h1>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="column-1 px-2 mb-r">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view">
                <img src="https://fanart.tv/fanart/movies/809/moviebackground/shrek-2-5e5c99ff68dcc.jpg" class="card-img-top" alt="photo">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title white-text">Shrek 2</h4>
                <!--Text-->
                <p class="card-text white-text">
                    Shrek 2 is een Amerikaanse computeranimatiefilm uit 2004, onder regie van Andrew Adamson, Kelly Asbury en Conrad Vernon. De film is een vervolg op de film Shrek, die in 2001 uitkwam.
                </p>

            </div>

        </div>
        <!--/.Card-->
        <h1>
        </h1>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="column-1 px-2">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view">
                <img src="https://www.pastposters.com/cw3/assets/product_expanded/R/shrek-the-third-cinema-quad-movie-poster-(2).jpg" class="card-img-top" alt="photo">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title white-text">Shrek 3</h4>
                <!--Text-->
                <p class="card-text white-text">
                    Shrek the Third is een Amerikaanse computeranimatiefilm, onder regie van Chris Miller en Raman Hui. Het is de derde film uit de Shrek-reeks. Stemmen worden vertolkt door Mike Myers, Cameron Diaz, Eddie Murphy en Antonio Banderas.
                </p>

            </div>

        </div>
        <!--/.Card-->
        <h1>
        </h1>
    </div>
    <!-- Grid column -->

</div>
<!-- Grid row -->
<!-- Grid row -->
<div class="row">

    <!-- Grid column -->
    <div class="column-2 px-2 mb-r">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view">
                <img src="https://3.bp.blogspot.com/-WJagwMyaoY8/WUWs7g6wveI/AAAAAAAB91E/OdW6V-pJwGManM80xZogUh34YOfHuXBAQCLcBGAs/s1600/Shrek_Forever_After_movieloversreviews.filiminspector.com_1.jpg" class="card-img-top" alt="photo">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title white-text">Shrek Forever After</h4>
                <!--Text-->
                <p class="card-text white-text">
                    Shrek Forever After is een Amerikaanse computeranimatiefilm, geregisseerd door Mike Mitchell en geproduceerd door DreamWorks Animation. Het is de vierde film in de Shrek-reeks. De film ging in de Verenigde Staten in première op 21 april 2010. In Nederland en België kwam de film in juli 2010 uit.
                </p>

            </div>

        </div>
        <!--/.Card-->

        <h1>
        </h1>
    </div>
    <!-- Grid column -->
    <!-- Grid column -->
    <div class="column-1 px-2 mb-r">

        <!--Card-->
        <div class="card">

            <!--Card image-->
            <div class="view">
                <img src="https://i.redd.it/8b5738bnes641.jpg" class="card-img-top" alt="photo">
                <a href="#">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title white-text">Shrek 5</h4>
                <!--Text-->
                <p class="card-text white-text">
                    Shrek 5 is als eerste uit in Nederland op Bios.nl. Shrek Forever After is een Amerikaanse computeranimatiefilm, geregisseerd door Mike Mitchell en geproduceerd door DreamWorks Animation. Het is de vijfde film uit de shrek-reeks en een vervolg op de film: Shrek Forever After.
                </p>

            </div>

        </div>
        <!--/.Card-->

        @foreach (Film film in Model)
        {
            <h1>@film.Naam</h1>
        }

        @{
            ViewData["Naam"] = "Film";
        }

        <h1>@ViewData["id"]</h1>

        <style>
            h1 {
                font-size: 14px;
            }
        </style>


        <footer class="footer">


            <div class="footer-copyright text-center py-3">
                © 2020 Copyright:
                <a href="home"> Bios.nl</a>
            </div>


        </footer>



</html>
