@using SchoolTemplate.Database;
@model List<Product>
@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welkom alle mensen.</h1>
  <ul>
    @foreach (Product p in Model)
    {
      <li>
        @p.Naam @p.Prijs euro
      </li>
    }
  </ul>
  
</div>

<body style="background-color:powderblue;"> 
    
    <h1>Hier kan je ja ja tekst plaatsen.</h1>
    <p>En hier nog meer tekst.</p>

</body>