@using SchoolTemplate.Database;
@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="site.css">
</head>



<html>
<head>
    <title>HTML menu</title>
    <link rel="stylesheet" type="text/css" href="site.css">
</head>


<body>
    <div class="menu">
        <ul>
            <li><a href="ACFilms.cshtml"><b><font color=" white">Actuele films</font></b></a></li>
            <li><a href="#"><b><font color=" white">Films voor kids</font></b></a></li>
            <li><a href="#"><b><font color=" white">Bioscopen in de buurt</font></b></a></li>
            <li><a href="#"><b><font color=" white">Contact</font></b></a></li>
            <li><a href="#"><b><font color=" white">Zoeken...</font></b></a></li>
        </ul>
    </div>

</body>





</html>





<div class="tekst">
    <h2>Hoofdvestigingen</h2>
</div>

<style>
 .tekst {
    width: 195px;
    border: 5px solid black;
    padding: 5px;
    margin: 2px;
 }
</style>

<ul>
    @foreach (Product p in Model)
    {
        <li>
            @p.Naam @p.Prijs euro
        </li>
    }
</ul>



<body style="background-color:#08a5bd;">
    <center>
        <h1>.</h1>
        <p>.</p>
    </center>

</body>


<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }
</style>

<div class="footer">
    <p>Bios.nl</p>
</div>


<img src="" alt="Alle hoofdvestigingen in 1 plaatje" width="160" height="145">
