/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}







/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

/* Other Classes for Page Styling */

.card {
    background-color: #08a5bd;
}

body {
    background: #ffffff;
    
}

.footer {
  background-color: #eeeeee;

}

