/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

html {
  font-size: 14px;
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

.card {
    background-color: #08a5bd;
}

body {
    background: #ffffff;
    
}

.footer {
  background-color: #eeeeee;

}

.responsive {
    width: 100%;
    height: auto;
}